-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "assistance_record" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "claimant_id" UUID NOT NULL,
    "patient_name" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "amount_needed" DOUBLE PRECISION NOT NULL,
    "approved_amount" DOUBLE PRECISION NOT NULL,
    "referred_by" TEXT NOT NULL,
    "endorsement_date" DATE NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "assistance_record_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "caller_slip" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "name" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "generated_by" UUID NOT NULL,

    CONSTRAINT "caller_slips_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "constituent" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "household_id" UUID NOT NULL,
    "first_name" TEXT NOT NULL,
    "last_name" TEXT NOT NULL,
    "ext_name" TEXT,
    "sex" TEXT NOT NULL,
    "contact_number" TEXT NOT NULL,

    CONSTRAINT "constituents_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "document" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "code_number" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "purpose" TEXT NOT NULL,
    "source" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "classification" TEXT NOT NULL,
    "remarks" TEXT,
    "received_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "document_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "document_audit" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "actor_id" UUID NOT NULL,
    "document_id" UUID NOT NULL,
    "version_number" DECIMAL NOT NULL,
    "file_path" TEXT NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "document_audits_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "document_version" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "document_id" UUID NOT NULL,
    "uploader_id" UUID NOT NULL,
    "version_number" DECIMAL NOT NULL,
    "file_path" TEXT NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "document_versions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "household" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "street_and_barangay" TEXT NOT NULL,
    "town" TEXT NOT NULL,
    "last_aid_date" TIMESTAMPTZ(6) NOT NULL,

    CONSTRAINT "households_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "inquiry_message" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "ticket_id" TEXT NOT NULL,
    "sender_type" TEXT NOT NULL,
    "sender_name" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "attachment_paths" TEXT[],
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "inquiry_messages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "inquiry_ticket" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "reference_number" TEXT NOT NULL,
    "assigned_to" UUID NOT NULL,
    "citizen_email" TEXT NOT NULL,
    "citizen_name" TEXT NOT NULL,
    "subject" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "closure_remarks" TEXT,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "inquiry_tickets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "invitation" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "document_id" UUID NOT NULL,
    "caller_slip_id" UUID NOT NULL,
    "event_venue" TEXT NOT NULL,
    "event_start_time" TIMESTAMPTZ(6) NOT NULL,
    "event_end_time" TIMESTAMPTZ(6) NOT NULL,
    "vm_decision" TEXT,
    "vm_decision_remarks" TEXT,
    "representative_name" TEXT,

    CONSTRAINT "invitations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "legislative_document" (
    "id" BIGSERIAL NOT NULL,
    "document_id" UUID NOT NULL,
    "official_number" TEXT NOT NULL,
    "series_year" DECIMAL NOT NULL,
    "type" TEXT NOT NULL,
    "date_enacted" DATE NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "sponsor_names" TEXT[],
    "author_names" TEXT[],

    CONSTRAINT "legislative_documents_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "role" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "name" TEXT NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "roles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "room_booking" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "booked_by" UUID NOT NULL,
    "title" TEXT NOT NULL,
    "start_time" TIMESTAMPTZ(6) NOT NULL,
    "end_time" TIMESTAMPTZ(6) NOT NULL,
    "requested_for" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "room_bookings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "scholarship_application" (
    "id" BIGSERIAL NOT NULL,
    "constituent_id" UUID NOT NULL,
    "seq_number" DECIMAL NOT NULL,
    "student_id" TEXT NOT NULL,
    "middle_name" TEXT NOT NULL,
    "birth_date" DATE NOT NULL,
    "program_name" TEXT NOT NULL,
    "year_level" TEXT NOT NULL,
    "province" TEXT NOT NULL,
    "zip_code" DECIMAL NOT NULL,
    "hei_uii" TEXT NOT NULL,
    "hei_name" TEXT NOT NULL,
    "father_last_name" TEXT NOT NULL,
    "father_middle_name" TEXT NOT NULL,
    "father_given_name" TEXT NOT NULL,
    "mother_middle_name" TEXT NOT NULL,
    "mother_last_name" TEXT NOT NULL,
    "mother_given_name" TEXT NOT NULL,
    "guardian_contact_number" TEXT NOT NULL,
    "guardian_email_address" TEXT NOT NULL,

    CONSTRAINT "scholarship_application_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "session" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "session_number" DECIMAL NOT NULL,
    "type" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "schedule_date" TIMESTAMPTZ(6) NOT NULL,
    "agenda_file_path" TEXT,
    "minutes_file_path" TEXT,
    "journal_file_path" TEXT,

    CONSTRAINT "sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "session_agenda_item" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "session_id" UUID NOT NULL,
    "section" TEXT NOT NULL,
    "order_index" DECIMAL NOT NULL,
    "content_text" TEXT,
    "linked_document" UUID,
    "attachment_path" TEXT,
    "attachment_name" TEXT,

    CONSTRAINT "session_agenda_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "role_id" UUID NOT NULL,
    "full_name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "visitor_log" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "constituent_id" UUID NOT NULL,
    "company" TEXT,
    "date_visited" DATE NOT NULL,
    "purpose" TEXT NOT NULL,
    "remarks" TEXT,

    CONSTRAINT "visitor_log_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "inquiry_tickets_referenced_number_key" ON "inquiry_ticket"("reference_number");

-- AddForeignKey
ALTER TABLE "assistance_record" ADD CONSTRAINT "assistance_record_claimant_id_fkey" FOREIGN KEY ("claimant_id") REFERENCES "constituent"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "caller_slip" ADD CONSTRAINT "caller_slips_generated_by_fkey" FOREIGN KEY ("generated_by") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "constituent" ADD CONSTRAINT "constituents_household_id_fkey" FOREIGN KEY ("household_id") REFERENCES "household"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "document_audit" ADD CONSTRAINT "document_audits_actor_id_fkey" FOREIGN KEY ("actor_id") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "document_audit" ADD CONSTRAINT "document_audits_document_id_fkey" FOREIGN KEY ("document_id") REFERENCES "document"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "document_version" ADD CONSTRAINT "document_versions_document_id_fkey" FOREIGN KEY ("document_id") REFERENCES "document"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "document_version" ADD CONSTRAINT "document_versions_uploader_id_fkey" FOREIGN KEY ("uploader_id") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "inquiry_message" ADD CONSTRAINT "inquiry_messages_ticket_id_fkey" FOREIGN KEY ("ticket_id") REFERENCES "inquiry_ticket"("reference_number") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "inquiry_ticket" ADD CONSTRAINT "inquiry_tickets_assigned_to_fkey" FOREIGN KEY ("assigned_to") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "invitation" ADD CONSTRAINT "invitations_caller_slip_id_fkey" FOREIGN KEY ("caller_slip_id") REFERENCES "caller_slip"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "invitation" ADD CONSTRAINT "invitations_document_id_fkey" FOREIGN KEY ("document_id") REFERENCES "document"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "legislative_document" ADD CONSTRAINT "legislative_documents_document_id_fkey" FOREIGN KEY ("document_id") REFERENCES "document"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "room_booking" ADD CONSTRAINT "room_bookings_booked_by_fkey" FOREIGN KEY ("booked_by") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "scholarship_application" ADD CONSTRAINT "scholarship_application_constituent_id_fkey" FOREIGN KEY ("constituent_id") REFERENCES "constituent"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "session_agenda_item" ADD CONSTRAINT "session_agenda_items_linked_document_fkey" FOREIGN KEY ("linked_document") REFERENCES "document"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "session_agenda_item" ADD CONSTRAINT "session_agenda_items_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "session"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user" ADD CONSTRAINT "users_role_id_fkey" FOREIGN KEY ("role_id") REFERENCES "role"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "visitor_log" ADD CONSTRAINT "visitor_log_constituent_id_fkey" FOREIGN KEY ("constituent_id") REFERENCES "constituent"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

