name: Build, push, and deploy image

on:
  workflow_call:
    inputs:
      enabled:
        description: Flag whether to build and deploy to iamge
        required: true
        type: boolean
      app:
        description: "App image to build: portal, admin, or backend"
        required: true
        type: string
      dockerfile:
        description: "Path to the Dockerfile"
        required: true
        type: string
      context:
        description: "Build context for Docker"
        required: true
        type: string
      deployment_url:
        description: "The deployment URL for the environment"
        required: true
        type: string

env:
  REGISTRY: ghcr.io

jobs:
  build-push:
    name: Build, push, and deploy ${{ inputs.app }} image
    runs-on: ubuntu-latest
    if: inputs.enabled == true
    environment:
      name: ${{ format('{0}-{1}', github.ref_name == 'main' && 'production' || 'staging', inputs.app) }}
      url: ${{ inputs.deployment_url }}
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository_owner }}/dali-${{ inputs.app }}

          # tag image with branch (develop) and latest if default branch
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=ref,event=branch
            type=sha,prefix={{branch}}-

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ${{ inputs.context }}
          file: ${{ inputs.dockerfile }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha,scope=${{ inputs.app }}
          cache-to: type=gha,mode=max,scope=${{ inputs.app }}
      - name: Deploy ${{ inputs.app }} to Coolify
        env:
          WEBHOOK_URL: ${{ secrets.COOLIFY_WEBHOOK }}
        run: |
          curl --request GET "$WEBHOOK_URL" --header "Authorization: Bearer ${{ secrets.COOLIFY_TOKEN }}"
