name: Build, Push, and Deploy Images

on:
  push:
    branches:
      - main
      - develop
  # allow manual trigger
  workflow_dispatch:

env:
  REGISTRY: ghcr.io

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest
    environment:
      name: ${{ format('{0}-{1}', github.ref_name == 'main' && 'production' || 'staging', matrix.app) }}
      url: ${{ matrix.deployment_url }}
    strategy:
      matrix:
        include:
          - app: portal
            dockerfile: apps/portal/Dockerfile
            context: .
            deployment_url: https://dali-portal.josearron.dev
          - app: admin
            dockerfile: apps/admin/Dockerfile
            context: .
            deployment_url: https://admin-dali-portal.josearron.dev
          - app: backend
            dockerfile: apps/backend/Dockerfile
            context: .
            deployment_url: https://api-dali-portal.josearron.dev
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository_owner }}/dali-${{ matrix.app }}

          # tag image with branch (develop) and latest if default branch
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=ref,event=branch
            type=sha,prefix={{branch}}-

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.context }}
          file: ${{ matrix.dockerfile }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha,scope=${{ matrix.app }}
          cache-to: type=gha,mode=max,scope=${{ matrix.app }}

      - name: Deploy ${{ matrix.app }} to Coolify
        env:
          WEBHOOK_URL: ${{ secrets.COOLIFY_WEBHOOK }}
        run: |
          curl --request GET "$WEBHOOK_URL" --header "Authorization: Bearer ${{ secrets.COOLIFY_TOKEN }}"
