name: Detect changes & deploy images
on:
  push:
    branches:
      - main
      - develop
  # allow manual trigger
  workflow_dispatch:

jobs:
  detect-changes:
    name: Detect changed paths
    runs-on: ubuntu-latest
    outputs:
      portal: ${{ steps.filter.outputs.portal }}
      admin: ${{ steps.filter.outputs.admin }}
      backend: ${{ steps.filter.outputs.backend }}
    steps:
      - uses: actions/checkout@v6

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            portal:
              - 'apps/portal/**'
              - 'packages/**'
            admin:
              - 'apps/admin/**'
              - 'packages/**'
            backend:
              - 'apps/backend/**'
              - 'packages/**'

  call-build-deploy-image:
    needs: detect-changes
    name: Build & deploy ${{matrix.app}}
    strategy:
      matrix:
        include:
          - app: portal
            enabled: ${{ needs.detect-changes.outputs.portal == 'true' }}
            dockerfile: apps/portal/Dockerfile
            context: .
            deployment_url: https://dali-portal.josearron.dev
            build_args: |
              NEXT_PUBLIC_API_URL=${{ vars.NEXT_PUBLIC_API_URL }}
              NEXT_PUBLIC_SUPABASE_URL=${{ vars.NEXT_PUBLIC_SUPABASE_URL }}
              NEXT_PUBLIC_SUPABASE_ANON_KEY=${{ vars.NEXT_PUBLIC_SUPABASE_ANON_KEY }}
              NEXT_PUBLIC_TURNSTILE_SITE_KEY=${{ vars.NEXT_PUBLIC_TURNSTILE_SITE_KEY }}
          - app: admin
            enabled: ${{ needs.detect-changes.outputs.admin == 'true' }}
            dockerfile: apps/admin/Dockerfile
            context: .
            deployment_url: https://admin-dali-portal.josearron.dev
            build_args: |
              NEXT_PUBLIC_API_URL=${{ vars.NEXT_PUBLIC_API_URL }}
              NEXT_PUBLIC_SUPABASE_URL=${{ vars.NEXT_PUBLIC_SUPABASE_URL }}
              NEXT_PUBLIC_SUPABASE_ANON_KEY=${{ vars.NEXT_PUBLIC_SUPABASE_ANON_KEY }}
          - app: backend
            enabled: ${{ needs.detect-changes.outputs.backend == 'true' }}
            dockerfile: apps/backend/Dockerfile
            context: .
            deployment_url: https://api-dali-portal.josearron.dev
            build_args: ""

    uses: ./.github/workflows/build-push-deploy.yaml
    with:
      enabled: ${{ matrix.enabled }}
      app: ${{ matrix.app }}
      dockerfile: ${{ matrix.dockerfile }}
      context: ${{ matrix.context }}
      deployment_url: ${{ matrix.deployment_url }}
      build_args: ${{ matrix.build_args }}
    secrets: inherit
    permissions:
      id-token: write
      contents: read
      packages: write
